<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tr> <td>Sept 10, 2021</td> <td>Install Fest</td> </tr>
      <tr> <td>Sept 13, 2021</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td> </tr>
      <tr> <td>Sept 14, 2021</td>  <a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/"><td>Open Refine</td> </tr>
      <tr> <td>Sept 15, 2021</td> <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td>Sept 16, 2021</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Introduction to SQL</a></td> </tr>
      <tr> <td>Sept 17, 2021</td> <td><a href="http://swcarpentry.github.io/git-novice/">Introduction to Git/Github </a> (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="http://swcarpentry.github.io/shell-novice/">this unix shell lesson</a>.) </td> </tr>
      <tr> <td>Sept 20, 2021</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a>  </td> </tr>
      <tr> <td>Sept 20, 2021</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Concurrent Plotting and Programming in Python</a> </td> </tr>
      <tr> <td>Sept 21, 2021</td> <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Cont.)</a>  </td> </tr>
      <tr> <td>Sept 21, 2021</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Concurrent Plotting and Programming in Python (Cont.)</a> </td> </tr>
      <tr> <td>Sept 22, 2021</td>  <td>Open Lab for R</td> </tr>
      <tr> <td>Sept 22, 2021</td>  <td>Open Lab for Python</td></tr>
    </table>
  </div>
</div>
